<div class="calculator" tabindex="0" ng-keydown="restyle($event)" ng-keyup="sendKey($event)">
  <div class="monitor">
    <span class="value" ng-style="monitorStyle">{{monitorValue}}</span>
  </div>
  <div class="keyboard">
    <div class="main-keyboard">
      <calculator-key ng-repeat="key in modKeys" key="key"></calculator-key>
      <calculator-key ng-repeat="key in numKeys" key="key"></calculator-key>
    </div>
    <div class="ops-keyboard">
      <calculator-key ng-repeat="key in opsKeys" key="key"></calculator-key>
    </div>
  </div>
</div>
