<div class="calculator">
  <div class="monitor">
    <span class="value">{{monitorValue}}</span>
  </div>
  <div class="keyboard">
    <div class="main-keyboard">

      <div class="key"
        ng-repeat="key in topKeys"
        ng-click="buttonClicked(key)">
        {{key.display}}
      </div>
      <div class="key"
        ng-repeat="key in numKeys"
        ng-click="buttonClicked(key)"
        ng-class="{'long-key': key.display == '0'}">
        {{key.display}}
      </div>

    </div>
    <div class="ops-keyboard">
      <div class="key op"
        ng-repeat="key in opsKeys"
        ng-click="buttonClicked(key)">
        {{key.display}}
      </div>
    </div>
    <!-- <div calculator-key ng-repeat="key in keys"></div> -->
  </div>
</div>
